#board {
padding: 3em;
text-align: center;
border-top: 1px solid black;
}

.row > div {
float: left;
height: 100px;
width: 100px;
font-size: 5em;
}

.row{
clear: both;
width: 302px;
margin: auto;
cursor: pointer;
}



.top {
border-bottom: 1px solid black;
}

.bottom {
border-top: 1px solid black;
}

.left {
border-right: 1px solid black;
}

.right {
    border-left: 1px solid black; 
}

body {
background-image: 
url("https://1.bp.blogspot.com/-DQMxYswhSkU/XnH3K0HorCI/AAAAAAAAEtw/eD-_kjIATrU3Dj63l8u0E8d19kYOApGZgCLcBGAsYHQ/w1200-h630-p-k-no-nu/Anime%2BCave%2BBackground%2B01.jpg")
}